# Node
node_modules/
dist/
build/

# Vite
.vite/

# Logs
*.log

# Env
.env
.env.local

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db