# Node
node_modules/
dist/
build/

# Vite
.vite/

# Logs
*.log

# Env
# Ambientes virtuais Python
venv/
.venv/
backend/venv/

.env
.env.prd

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
backend/data/
.pytest_cache/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db